/* ---------------FONTS--------------- */

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.eot");
  src: local("../font"), local("../font"),
    url("../font/Gilroy-Regular.eot") format("embedded-opentype"),
    url("../font/Gilroy-Regular.woff2") format("woff2"),
    url("../font/Gilroy-Regular.woff") format("woff"),
    url("../font/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Semibold.eot");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background: #fbfbfb;
  margin: 0;
}

/* ------------------------------ */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* ---------------SECTIONS--------------- */

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1180px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

/* ----------HEADER----------- */

.header {
  border: 1px solid rgba(12, 12, 12, 0.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  padding: 32px 0;
}

.header-navigation {
}

.header-nav-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
  padding: 24px 0;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-item {
}

.social-link {
}

.social-img {
}

/* ----------MAIN-SLOGAN----------- */

.slogan {
  padding: 50px 0;
}

.slogan-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.slogan-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  width: 598px;
  margin-bottom: 40px;
}

.slogan-title span {
  color: #3350e9;
}

.slogan-text {
  width: 480px;
}

.slogan-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slogan-team-photo {
}

.slogan-scroll {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  cursor: pointer;
  background: none;
  border: none;
}

.slogan-img {
  max-width: 100%;
  object-fit: cover;
}

/* ----------MAIN-ABOUT US----------- */

.about {
  padding: 50px 0;
}

.about .container {
  display: flex;
  gap: 40px;
}

.about-content {
  padding: 80px 60px 0;
  border-radius: 50px;
  background-color: #f3f3f3;
}

.about-title {
  margin-bottom: 40px;
}

.about-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 16px 38px;
}

.about-link:hover,
.about-link:focus {
  background-color: #1f3cd4;
}

.about-img {
  max-width: 100%;
  object-fit: cover;
}

/* ----------MAIN-CATALOG---------- */

.catalog {
  padding: 50px 0;
}

.catalog-title {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: calc((100% - 48px) / 3);
  /* height: 414px; */
  background: #f3f3f3;
}

.catalog-link {
}

.catalog-img {
  box-sizing: content-box;
  padding: 34px 38px 0;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog-card {
  padding: 10px 32px 24px;
}

/* ----------MAIN-TAGLINE---------- */

.tagline-content {
  border-radius: 30px;
  padding: 83px 80px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/tagline.png);
}

.tagline-title {
  color: #fbfbfb;
  width: 690px;
}

.tagline-title span {
  color: rgba(251, 251, 251, 0.5);
}

.tagline-link {
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  padding: 16px 44px;
  height: 48px;
}

.tagline-link:hover,
.tagline-link:focus {
  background: #fbfbfb;
  color: #0c0c0c;
}

.taglineimg {
}

/* ----------MAIN-SALE---------- */

.sale {
  padding: 50px 0;
}

.sale-title {
  margin-bottom: 40px;
}

.sale-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.sale-photo-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  width: 132px;
  height: 132px;
  background: #f3f3f3;
  padding: 16px 18px;
  margin-bottom: 10px;
}

.sale-photo-i {
}

.sale-figure {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  width: 428px;
  height: 558px;
  background: #f3f3f3;
  padding: 50px 80px;
}

.bigphoto {
}

/* ----------MAIN-SALE-DESCRIPTION----------- */

.sale-description {
  border-radius: 50px;
  width: 530px;
  height: 558px;
  background: #3350e9;
  padding: 60px;
}

.sale-description-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-description-product {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-description-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 30px;
}

.sale-description-price span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-description-text {
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}

.sale-description-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.sale-description-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}

/* ----------MAIN-REVIEWS---------- */

.reviews {
  padding: 50px 0;
}

.reviews-title {
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  gap: 20px;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 32px 36px;
  /* width: 370px;
  height: 272px; */
  background: #f3f3f3;
}

.reviews-card-img {
}

.reviews-card-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin: 24px 0 8px;
}

.reviews-card-text {
  text-align: center;
}

/* ----------MAIN-CONTACT US---------- */

.contact {
  padding: 50px 0;
}

.contact-content {
  display: flex;
  gap: 40px;
}

.contact-title {
  margin-bottom: 40px;
}

.contact-formcard {
  border-radius: 50px;
  background-color: #f3f3f3;
  padding: 50px 60px;
}

.contact-text {
  margin-bottom: 32px;
}

.contact-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px 0 16px 18px;
  margin-bottom: 16px;
  width: 460px;
}

.contact-comment {
  padding-bottom: 54px;
  margin-bottom: 32px;
}

.contact-img {
  border-radius: 50px;
}

.contact-link-send {
  border-radius: 16px;
  background-color: #3350e9;
  padding: 17px 63px;
  color: #fbfbfb;
  width: 162px;
}

.contact-link-send:hover,
.contact-link-send:active {
  background-color: #1f3cd4;
}

/* ----------MAIN-FOOTER---------- */

.footer .container {
  border-radius: 30px;
  padding: 40px 40px 28px;
  background: #0c0c0c;
}

.footer-upper-content {
  display: flex;
  justify-content: space-between;
  gap: 178px;
  margin-bottom: 126px;
}

.footer-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  padding-bottom: 28px;
}

.footer-social {
  display: flex;
}

.footer-social-item {
}

.footer-social-link {
}

.footer-social-img {
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.8;
}

.footer-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 523px;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-adress--link {
  border-radius: 30px;
  padding: 15px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  color: #fbfbfb;
}

.footer-adress-post {
  width: 162px;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.footer-endlist {
  display: flex;
  gap: 20px;
}

.footer-endlist-item {
}

.footer-endlist-link {
}
